@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #f5f0e8;
  --fg: #1c1812;
  --muted: #62594a; /* Optimizado para contraste accesible en modo claro */
  --border: #ddd8cf;
  --accent: #b5784a;
  --surface: #ede8de;
  --danger: #c05050;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --bg: #000000; /* Negro puro para pantallas AMOLED */
    --fg: #e8ddc8; /* Crema suave de lectura */
    --muted: #8a8073; /* Tono cálido con contraste accesible nocturno */
    --border: #1c1813;
    --accent: #dca073; /* Terracota/ámbar luminoso */
    --surface: #0a0907; /* Obsidiana oscura */
    --danger: #e07070;
  }
}

.dark {
  --bg: #000000;
  --fg: #e8ddc8;
  --muted: #8a8073;
  --border: #1c1813;
  --accent: #dca073;
  --surface: #0a0907;
  --danger: #e07070;
}

.light {
  --bg: #f5f0e8;
  --fg: #1c1812;
  --muted: #62594a;
  --border: #ddd8cf;
  --accent: #b5784a;
  --surface: #ede8de;
  --danger: #c05050;
}

html {
  background-color: var(--bg);
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
}

select option {
  background-color: var(--bg);
  color: var(--fg);
}
