@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #f7f4f0;
  --fg: #18140f;
  --muted: #7a7268;
  --border: #e2ddd8;
  --accent: #e8621a;
  --surface: #edeae5;
  --danger: #e05252;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --bg: #000000;
    --fg: #f0ece8;
    --muted: #9a9290;
    --border: #222222;
    --accent: #ff6b35;
    --surface: #0f0f0f;
    --danger: #ff5252;
  }
}

.dark {
  --bg: #000000;
  --fg: #f0ece8;
  --muted: #9a9290;
  --border: #222222;
  --accent: #ff6b35;
  --surface: #0f0f0f;
  --danger: #ff5252;
}

.light {
  --bg: #f7f4f0;
  --fg: #18140f;
  --muted: #7a7268;
  --border: #e2ddd8;
  --accent: #e8621a;
  --surface: #edeae5;
  --danger: #e05252;
}

html {
  background-color: var(--bg);
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
}

select option {
  background-color: var(--bg);
  color: var(--fg);
}
